<div class="navbar-wagon">
  <!-- Logo -->
  <div>
    <%= link_to root_path, class: "navbar-wagon-brand hidden-md hidden-lg" do %>
      <%= image_tag "navbar_logo.png" %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Courses", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <!-- Button trigger modal -->
      <a class="navbar-wagon-item navbar-wagon-link" data-toggle="modal" data-target="#myModal">Log In</a>
      <a class="navbar-wagon-item navbar-wagon-link" data-toggle="modal" data-target="#myModal2">Sign Up</a>
    <% end %>
  </div>


<!-- LOGIN Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <ul>
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <p>Welcome Back !</p>
          <hr class="hr-devise">
        <li>
          <%= f.text_field :email, placeholder: "Email address", class: "modal-box" %>
        </li>
        <li>
          <%= f.password_field :password, placeholder: "Password", class: "modal-box" %>
        </li>
        <li>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </li>
        <li>
          <%= f.submit 'Log in', class: "modal-box btn btn-devise-ubk"%>
        </li>
        <li>
          <%= render "devise/shared/links" %>
        </li>
        <hr class="footer-devise f-d-login">
        <li>
          <button type="button" class="btn btn-primary" href="#myModal2" data-toggle="modal" data-dismiss="modal">Sign Up</button>
        </li>
        <li>
          <a href="#myModal3" data-toggle="modal" data-dismiss="modal">Forgot your password?</a>
        </li>
          <% end %>

      </ul>
    </div>
  </div>
</div>


<!-- SIGNUP Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <ul>
            <%= form_for(:user, :url => registration_path(:user)) do |f| %>
            <p>Sign Up For Free</p>
            <hr class="hr-devise">
          <li>
            <%= f.text_field :name, required: true, autofocus: true, placeholder: "Name", class: "modal-box"%>
          </li>
          <li>
            <%= f.text_field :email, required: true, autofocus: true, placeholder: "Email", class: "modal-box" %>
          </li>
          <li>
            <%= f.select :university, options_for_select(%w[McGill Concordia Others]), {:include_blank => "Select your university" }, class: "modal-box modal-box-univ" %>
          </li>
          <li>
            <%= f.password_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Password", class: "modal-box" %>
          </li>
          <li>
            <%= f.password_field :password_confirmation, required: true, placeholder: "Password confirmation", class: "modal-box" %>
          </li>
          <li>
            <%= f.submit 'Sign up', class: "modal-box btn btn-devise-ubk" %>
          </li>
            <hr class="footer-devise">
            <% end %>
          <li >
            <%= render "devise/shared/links" %>
          </li>
          <li>
            <button type="button" class="btn btn-primary" href="#myModal" data-toggle="modal" data-dismiss="modal">Log In</button>
          </li>
        </ul>
    </div>
  </div>
</div>

<!-- FORGOT PASSWORD Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <ul>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <p>Forgot your password?</p>
          <hr class="hr-devise">
        <li>
          <%= f.text_field :email, required: true, autofocus: true, placeholder: "Email address", class: "modal-box" %>
        </li>
        <li>
          <%= f.submit 'Send me reset password instructions', class: "modal-box btn btn-devise-ubk"%>
        </li>

        <hr class="footer-devise f-d-login">
        <li>
          <button type="button" class="btn btn-primary" href="#myModal" data-toggle="modal" data-dismiss="modal">Log In</button>
        </li>
          <% end %>

      </ul>
    </div>
  </div>
</div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>


